.item {
  background-color: #eee;
  margin-top: 10px;
  border-radius: 6px;
  padding: 10px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-right: 15px;
}

.check {
  margin-right: 15px;
}

.tachado {
  text-decoration:line-through;
}
